{% extends "base.html.twig" %}

{% block title %}ContactBundle:Person:allPeople{% endblock %}

{% block body %}
<h1>Welcome to the Person:allPeople page</h1>
    <a href="{{ path('newGet') }}">Dodaj +</a>
    <ul>
        {% for person in people %}
            <li>
                <a href="{{ path('single', {'id': person.id}) }}">{{ person.firstname }} {{ person.lastname }}</a>
                [<a href="{{ path('modifyGet', {'id': person.id}) }}">edit</a> |
                <a href="{{ path('delete', {'id': person.id}) }}">del</a>]
            </li>

        {% endfor %}
    </ul>


{% endblock %}
