{% extends "base.html.twig" %}

{% block title %}Contact Box{% endblock %}

{% block body %}
<h1>Contact Box</h1>
    <a href="{{ path('new') }}">Add +</a>
    <ul>
        {% for person in people %}
            <li>
                <a href="{{ path('profile', {'id': person.id}) }}">{{ person.firstname }} {{ person.lastname }}</a>
                [<a href="{{ path('modify', {'id': person.id}) }}">edit</a> |
                <a href="{{ path('delete', {'id': person.id}) }}">del</a>]
            </li>

        {% endfor %}
    </ul>


{% endblock %}
