{% extends "base.html.twig" %}

{% block title %}Modify contact{% endblock %}

{% block body %}
<h1>Modify contact</h1>

    {% if form is defined %}
        {{ form_start(form) }}
        <h3>{{ form_label(form, 'Basic info') }}</h3>
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.description) }}
            {{ form_row(form.image_path) }}
        <h3>{{ form_label(form, 'Address') }}</h3>
            {{ form_row(form.addresses) }}
            <a href="{{ path('addressAdd', {'id': id}) }}">Add</a> |
            <a href="{{ path('addressDelete', {'id': id}) }}">Delete</a>
        <h3>{{ form_label(form, 'Phones') }}</h3>
            {{ form_row(form.phones) }}
            <a href="{{ path('phoneAdd', {'id': id}) }}">Add</a> |
            <a href="{{ path('phoneDelete', {'id': id}) }}">Delete</a>
        <h3>{{ form_label(form, 'Emails') }}</h3>
            {{ form_row(form.mails) }}
            <a href="{{ path('mailAdd', {'id': id}) }}">Add</a> |
            <a href="{{ path('mailDelete', {'id': id}) }}">Delete</a>
        {{ form_row(form.save) }}
        {{ form_end(form) }}
    {% endif %}

{% endblock %}
