{% extends "base.html.twig" %}

{% block title %}ContactBundle:Person:singlePerson{% endblock %}

{% block body %}
<h1>{{ person.firstname }} {{ person.lastname }}</h1>
    <p>{{ person.imagePath }}</p>
    <p>{{ person.description }}</p>
    <p>
        {% if person.address is not null %}
            {{ person.address.city }}<br>
            {{ person.address.street }} {{ person.address.number }} {{ person.address.flat }}<br>
        {% endif %}
    </p>
    <p>
        [<a href="{{ path('modifyGet', {'id': person.id}) }}">edit</a> |
        <a href="{{ path('delete', {'id': person.id}) }}">del</a>]
    </p>
{% endblock %}
w